# Env
.env

# Backend
backend/target/
*.class
*.jar

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/coverage/

# Claude settings
.claude/
*/.claude/settings.local.json
CLAUDE.md
design-system.md

# IDE
.idea/
*.iml
